@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;800&display=swap');

* {
  font-family: 'Maven Pro', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-base);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  --dark-text: white;
  --dark-primary: #cc41ff;
  --dark-secondary: #05bbaa;
  --dark-base: #1b1b1b;
  --dark-base-light: #2e2e2e;
  --dark-base-lighter: #454545;
  --dark-base-lightest: #5c5c5c;

  --light-text: black;
  --light-primary: #2378c3;
  --light-secondary: #73b3e7;
  --light-base: #919191;
  --light-base-light: #c9c9c9;
  --light-base-lighter: #f3f3f3;
  --light-base-lightest: #f9f9f9;

  --success: rgb(77, 217, 91);
  --danger: rgb(237, 61, 48);
  --warning: rgb(242, 174, 65);
  --info: rgb(24, 135, 232);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: var(--dark-base-lighter);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--dark-base-lightest);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-primary);
  }
}

/* TODO: WHEN LIGHT THEME IS ADVANCED FIX SCROLLBAR COLORS FOR IT */
@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-track {
    background: var(--light-base-light);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--light-base-lighter);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--light-primary);
  }
}
