@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;800&display=swap');

* {
  font-family: 'Maven Pro', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark-primary: #cc41ff;
  --dark-secondary: #05bbaa;
  --dark-base: #1b1b1b;
  --dark-base-light: #2e2e2e;
  --dark-base-lighter: #454545;
  --dark-base-lightest: #5c5c5c;

  --light-primary: #2378c3;
  --light-secondary: #73b3e7;
  --light-base: #919191;
  --light-base-light: #c9c9c9;
  --light-base-lighter: #f3f3f3;
  --light-base-lightest: #f9f9f9;

  --negative: rgb(248, 89, 77);
  --positive: rgb(77, 217, 91);
  --warning: rgb(242, 174, 65);
  --info: rgb(24, 135, 232);
}
